{% extends 'base.html.twig' %}
{% block body %}
<h1>{{ title }}</h1>
<h2>Bienvenue dans ce blog</h2>
{% if age > 18 %}
<p> Tu es majeur </p>
{% else %}
<p> Tu es mineur </p>
{% endif %}

<p>Lorem ipsum dolor sit amet, 
consectetur adipiscing elit. Nunc in luctus nunc. 
Donec eget ornare mi, ut porta lorem. Proin maximus, 
ligula eu gravida suscipit, lorem erat aliquet orci, 
a euismod tortor leo vel arcu. Sed sed metus dapibus, 
hendrerit nibh at, facilisis ligula. Aenean blandit diam 
odio, non vehicula lectus sodales vitae. Pellentesque nec 
massa sagittis, cursus sapien et, tincidunt tortor. Aenean 
magna purus, finibus vitae consectetur nec, tincidunt at lectus. 
Sed ut felis egestas, viverra augue ut, scelerisque ex. Aenean 
dignissim fermentum maximus. Nulla sodales, mauris eget vestibulum 
condimentum, mauris est dapibus eros, 
sed gravida lorem libero imperdiet enim.</p>


<p>Lorem Ipsum Sala Tadi Lorem Ipsum Sala Tadi Lorem 
Ipsum Sala Tadi Lorem Ipsum Sala Tadi Lorem Ipsum Sala Tadi 
Lorem Ipsum Sala Tadi Lorem Ipsum Sala Tadi</p>
{% endblock %}